<style>
  .form {
    padding: 0 0 0 30px;
  }
</style>

<div class="row" style="margin:20px; width:800px;">
  <div class="col">

    <h3><span>新規登録&ensp;<i class="fas fa-users"></i></span></h3>
    <br><br>

    <%= devise_error_messages! %>

    <div class="form">

      <a href= '/users/sign_in'>
        <div class="form-panel three">
        </div>
      </a>

      <div class="form-panel one">

        <div class="form-header">
          <h1 style="color:#df8663;">Register Account</h1>
        </div>

        <div class="form-content">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

            <div class="form-group">
              <label for="username"><%= f.label :username %></label>
              <%= f.text_field :username, autofocus: true %>
            </div>

            <div class="form-group">
              <label for="password"><%= f.label :password %></label>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <%= f.password_field :password, autocomplete: "new-password" %>
            </div>

            <div class="form-group">
              <label for="cpassword"><%= f.label :password_confirmation %></label>
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>

            <br>

            <div class="form-group">
              <%= f.submit 'Register',:class => 'button2' %>
            </div>

          <% end %>
        </div>

      </div>

    </div>

  </div>
  <div class="col">
  </div>
</div>
