<style>
  .row{
    justify-content:center;
  }

  .name{
    position: relative;
    padding: 0.5em 2em;
    background: #f8b862;
    color: #543f32;
    font-size:2rem;

  }

  .name::before {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    border: none;
    border-bottom: solid 15px transparent;
    border-right: solid 20px #df7163;
  }

  .box1{
    height:auto;
    width:400px;
    padding: 1em 1em;
    color: #5d627b;
    background: white;
    border-top: solid 5px #df8663;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    margin:auto;
  }

  .box2{
    height:auto;
    width:800px;
    padding: 1em 1em;
    color: #5d627b;
    background: white;
    border-top: solid 5px #543f32;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    margin:auto;
  }

  .form-group{
    justify-content:center;
    flex-wrap:wrap;
  }

  i.fas.fa-plus {
  	font-size: 1rem;
  	color: #543f32;
    background-color:#df8663;
  	position: relative;
    bottom: 10px;
    left:10px;
  	border-radius: 50%;
  	padding: 10px;
  	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  	transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
  }

  i.fas.fa-plus:hover {
    background-color:#a22041;
  	color:white;
  	cursor:pointer;
  	box-shadow:none;
  }

  .visibility {
      visibility:hidden;
  }

  i.fas.fa-file-upload {
    font-size: 2rem;
    color: #543f32;
    background-color:#df8663;
    border-radius: 50%;
    padding: 16px 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
  }

  i.fas.fa-file-upload:hover {
    background-color:#a22041;
    color:white;
    cursor:pointer;
    box-shadow:none;
  }

  .btn.btn-outline-secondary {
    background:#f8b862;
    color:#543f32;
  }

  .btn.btn-outline-secondary:hover {
    background:#a22041;
    color:white;
  }
</style>

<script>
  $(function(){
    $('#recipe_img').change(function(e){

      var file = e.target.files[0];
      var reader = new FileReader();

      if(file.type.indexOf("image") < 0){
        alert("画像ファイルを指定してください。");
        return false;
      }

      reader.onload = (function(file){
        return function(e){
          $("#img1").attr("src", e.target.result);
          $("#img1").attr("title", file.name);
        };
      })(file);
      reader.readAsDataURL(file);

    });
  });

  $('input[id=lefile]').change(function() {
    $('#photoCover').val($(this).val());
  });
</script>

<%= form_with(model: recipe, local: true) do |f| %>

  <div class="notice">
    <% if recipe.errors.any? %>
      <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
      </div>
    <% end %>
  </div>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="form-group">
    <b>料理名</b>
    <%= f.text_field :title %>
  </div>

  <br>

  <div class="row">
    <b>カテゴリー</b>
  </div>
  <br>
  <div class="row">
    <%= f.fields_for :recipekinds do |rk| %>
      <div class="col-sm-10 btn-group" data-toggle="buttons" style="">
        <label class="btn btn-outline-secondary active" style="width:50%">
          <%= image_tag("rice2.png", :size =>'20x20') %>&ensp;
          <%= rk.radio_button :kind, "ご飯", {checked: true} %> ご飯
        </label>
        <label class="btn btn-outline-secondary" style="width:50%">
          <%= image_tag("okazu2.png", :size =>'20x20') %>&ensp;
          <%= rk.radio_button :kind, "おかず", {} %> おかず
        </label>
        <label class="btn btn-outline-secondary" style="width:50%">
          <%= image_tag("soup2.png", :size =>'20x20') %>&ensp;
          <%= rk.radio_button :kind, "汁物", {} %> 汁物
        </label>
      </div>
    <% end %>
  </div>

  <br><br>

  <div class="row">
    <div class="form-group" style="width:120px;">
      <b>所要時間</b>
      <%= f.number_field :cook_min, :min =>'0'%>min
    </div>
  </div>

  <br><br>
  <h5><span><b>料理の完成写真</b></span></h5>

  <div class="row">
    <div class="visibility"><%= f.file_field :img, id: :recipe_img %></div>
    <% if @recipe.img? %>
      <%= image_tag @recipe.img.url, id: :img_prev %>
    <% else %>
      <img id="img1" style="width:400px;height:300px;">
    <% end %>
  </div>

  <br>

  <div class="row">
    <p><%= f.check_box :remove_img %>&ensp;画像を削除する</p>
    <br>
  </div>

  <div class="row" style="position:relative; top:-40px; left:170px;">
    <span class="button_tooltip" data-toggle="tooltip" title="写真をアップロード">
      <span onclick="$('#recipe_img').click();">
        <i class="fas fa-file-upload"></i>
      </span>
    </span>
  </div>

  <br><br><br><br>

  <div class="row">
    <div class="box1">

      <h3>材料</h3>
      <br><br>
      <div id="zairyos">
        <%= f.fields_for :zairyos do |zairyo| %>
          <%= render 'zairyo_fields', f: zairyo %>
        <% end %>
        <div class="links">
          <%= link_to_add_association f, :zairyos do %>
            <i class="fas fa-plus"></i>
          <% end %>
        </div>
      </div>

    </div>
  </div>

  <br><br><br>

  <div class="row">
    <div class="box2">

      <h3>つくり方</h3>
      <br><br>
      <div id="recipe_processes">
        <%= f.fields_for :recipeprocesses do |process| %>
          <%= render 'recipeprocess_fields', f: process %>
        <% end %>
        <div class="links">
          <br>
          <%= link_to_add_association f, :recipeprocesses do %>
            <i class="fas fa-plus"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <br><br><br><br>

  <div class="row">
    <div class="form-group">
      <%= f.submit "投稿", :class => 'button2' %>
    </div>
  </div>

<% end %>
