<style>
  i.fas.fa-trash-alt {
  	font-size: 1rem;
    margin:10px;
  	color: #543f32;
    background-color:#f8b862;
  	position:relative;
    float:right;
  	border-radius: 50%;
  	padding: 10px;
  	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  	transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
  }

  i.fas.fa-trash-alt:hover {
    background-color:#a22041;
  	color:white;
  	cursor:pointer;
  	box-shadow:none;
  }
</style>

<script>
  $(function(){
    $('#process_img').change(function(e){

      var file = e.target.files[0];
      var reader = new FileReader();

      if(file.type.indexOf("image") < 0){
        alert("画像ファイルを指定してください。");
        return false;
      }

      reader.onload = (function(file){
        return function(e){
          $("#process_img").attr("src", e.target.result);
          $("#process_img").attr("title", file.name);
        };
      })(file);
      reader.readAsDataURL(file);

    });
  });

  $('input[id=lefile]').change(function() {
    $('#photoCover').val($(this).val());
  });
</script>

<div class="nested-fields">
  <%= link_to_remove_association f  do %>
    <i class="fas fa-trash-alt" style="left:-10px;"></i>
  <% end %>
  <div class="form-group" style="width:550px; margin:auto;">
    <%= f.text_field :process_txt %>
    <br>
    <% if false %>
      <label><%= f.label "画像" %></label>
      <%= f.file_field :process_img %>
      <img id="process_img" style="width:400px;height:300px;">
    <% end %>

    <% if false %>
    <div class="row">
      <p><%= f.check_box :remove_process_img %>&ensp;画像を削除する</p>
      <div class="visibility"><%= f.file_field :process_img, id: :process_img %></div>
      <%= image_tag f.process_img.url, id: :img_prev if f.process_img? %>
      <span class="button_tooltip" data-toggle="tooltip" title="写真をアップロード">
        <span onclick="$('#process_img').click();">
          <i class="fas fa-file-upload"></i>
        </span>
      </span>
    </div>
    <% end %>
  </div>
  <br>
</div>
