<style>
  body{
    color:#543f32;
    font-size: 0.5rem;
  }

  a {
    color:#543f32;
   }
  a:hover{
    color:#a22041;
    text-decoration:none;
   }

  .square_btn{
    float: right;
    margin:0 10px;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    border-radius: 4px;
    text-decoration: none;
    color: #543f32;
    background: #f8b862;
    transition: .2s;
  }

  .square_btn:hover {
    background: #a22041;
    color: white;
  }
</style>

<% if notice %>
<div class="row" style="justify-content:center;">
  <span class="notice"><p><%= notice %></p></span>
</div>
<% end %>

<br>

<div class="row" style="margin:20px; width:900px;">

  <!--ランキング---------------------------------------------->
  <div class="col" style="width:30rem; text-align:center;">
    <div class="alert alert-danger" role="alert" style="width:30rem; margin:auto;">
      今日のランキング &ensp; <%= Date.today %>
    </div>

　　<% crowncolor = ["#e4aa1d","#9eaeb9","#b76901"]%>
   <% rank_num = 0 %>

    <div class="card" style="width:30rem;">
      <br>
      <ul class="list-unstyled">
        <% @day_ranking.each do |dr| %>
          <li class="media" style="margin-left:15px;">
            <% if dr.recipe.img? %>
              <%= link_to (image_tag(dr.recipe.img.thumb.url :class => "ml-3", :size =>'220x150')), dr.recipe %>
            <% else %>
              <%= link_to (image_tag("no-image.png", :class => "ml-3", :size =>'220x150')), dr.recipe %>
            <% end %>
            <div class="media-body" style="margin: 8px 0px;" >
              <div class="mt-0 mb-1"  style="line-height: 1.5rem;">
                <%= content_tag(:i, simple_format(h("#{rank_num + 1}")), :class => 'fas fa-crown', :style => "color:#{crowncolor[rank_num]}") %>
                <br>
                <b style="font-size:1rem;"><%= link_to dr.recipe.title , dr.recipe %></b>
              </div>
              <div style="line-height: 1.8em;">
                <i class="fab fa-gratipay"></i>&ensp;<b><%= dr.recipe.favorites.count %></b>
                <br>
                <i class="fas fa-stopwatch"></i>&ensp;<b><%= dr.recipe.cook_min %>min</b>
                <br><br>
                <%= dr.recipe.user.username %>
              </div>
            </div>
          </li>
          <hr>
          <% rank_num+=1 %>
        <% end %>
        <a href="/recipes/rank_week" class="square_btn">
        	<i class="fa fa-caret-right"></i> 週間へ
        </a>
      </ul>
    </div>

    <br>
    <br>

    <!--３Days メニュー---------------------------------------------->
    <div class="alert alert-success" role="alert" style="width:30rem; margin:auto;">
      3Days メニュー
    </div>
<% if false %>
    <br>

    <div class="row" style="width:30rem; margin:auto; justify-content:center;">
      <% unless @main.nil? %>
        <% main = @main.sample.recipe%>

      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" style="margin:auto; ">
          <div class="carousel-item active">
            <% if main.img? %>
              <%= link_to (image_tag(main.img.url, :size =>'430x280')), main %>
            <% else %>
              <%= link_to (image_tag("no-image.png", :size =>'430x280')), main %>
            <% end %>
            <div class="carousel-caption d-none d-md-block">
              <span class="outline"><%= link_to main.title, main, :style=>"color:white;" %></span>
            </div>
          </div>
          <% end %>

	  <% unless @side.nil? %>
	    <% side = @side.sample.recipe %>

          <div class="carousel-item">
            <% if side.img? %>
              <%= link_to (image_tag(side.img.url, :size =>'430x280')), side %>
            <% else %>
              <%= link_to (image_tag("no-image.png", :size =>'430x280')), side %>
            <% end %>
            <div class="carousel-caption d-none d-md-block">
              <span class="outline"><%= link_to side.title, side, :style=>"color:white;"%></span>
            </div>
	  </div>
          <% end %>

	  <% unless @soup.nil? %>
	    <% soup = @soup.sample.recipe %>

          <div class="carousel-item">
            <% if soup.img? %>
              <%= link_to (image_tag(soup.img.url, :size =>'430x280')), soup %>
            <% else %>
              <%= link_to (image_tag("no-image.png", :size =>'430x280')), soup %>
            <% end %>
            <div class="carousel-caption d-none d-md-block">
              <span class="outline"><%= link_to soup.title, side, :style=>"color:white;"%></span>
            </div>
	  </div>
          <% end %>

          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

      </div>

    </div><% end %>
  </div>


  <!--新着レシピ---------------------------------------------->
  <div class="col" style="margin:0 30px;">

    <div class="alert alert-warning" role="alert" style="width:13.8rem;">
      新着レシピ
    </div>

    <div class="card-columns" style="column-count:1;">

      <% @recipes_new.each do |recipe| %>
        <div class="card" style="width:13.8rem;">

          <% if recipe.img? %>
            <%= link_to (image_tag(recipe.img.thumb.url :class => "card-img-top", :size =>'220x150')), recipe %>
          <% else %>
            <%= link_to (image_tag("no-image.png", :class => "card-img-top", :size =>'220x150')), recipe %>
          <% end %>

          <% d1 = Date.today %>
          <% d2 = recipe.created_at %>
          <br>
          <span class="day"><%= d2.strftime("%Y-%m-%d") %></span>
          <div class="card-body">

            <span class="recipe_name" style="font-size:1rem;">
              <%= link_to recipe.title , recipe %>
            </span>
            <% if d1 - Date.parse(d2.to_s) < 2 %>
              <span class="badge badge-secondary">New</span>
            <% end %>
            <br>
            <div><p class="card-text"><%= recipe.user.username %></p></div>
            <br>
            <div>
              <i class="fab fa-gratipay"> <%= recipe.favorites.count %></i>
              &ensp;
              <i class="fas fa-stopwatch"></i> <%= recipe.cook_min %>min

            </div>
          </div>
        </div>
        <br/>
      <% end %>

    </div>
  </div>

</div>
