<div class="row" style="margin:20px; width:800px;">
  <div class="col" style="width:600px;">

    <h3><span>新しくレシピを投稿&ensp;<i class="fas fa-plus-circle"></i></span></h3>
    <br>
      <%= render 'form', recipe: @recipe %>
  </div>
  <div class="col" style="width:100px;">
  </div>
</div>
