<style>
  .u_name{
    background: linear-gradient(transparent 70%, #f9c89b 70%);
    text-indent:1em;
    display: inline-block;
  }
</style>

<div class="row" style="margin:20px; width:800px;">
  <div class="col">

    <br>
    <h3><span>あなたのプロフィール&ensp;<i class="fas fa-user-circle"></i></span></h3>
    <br><br><br>

    <div class="form">
      <div class="form-panel one">

        <div class="form-content">
            <div class="form-group">
              <label for="username">username</label>
            </div>

            &ensp;

            <div class="u_name">
              <%= current_user.username %>&emsp;
            </div>
            <br>
        </div>

      </div>
    </div>

  </div>
  <div class="col">
  </div>
</div>
