<style>
body {
  color:#543f32;
}
a:hover {
  text-decoration:none;
}
</style>

<div class="row" style="margin:20px 100px; width:800px;">
  <div class="col">

    <br>
    <h5><span>みんなのお気に入りレシピ&ensp;<i class="fas fa-crown"></i></span></h5>
    <br>

    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="day-tab" data-toggle="tab" href="#day" role="tab" aria-controls="day" aria-selected="true">日別</a>
      <a class="nav-item nav-link" id="week-tab" data-toggle="tab" href="#week" role="tab" aria-controls="week" aria-selected="false">週間</a>
    </div>

    <div class="tab-content" id="nav-tabContent">

      <!--日別---------------------------------------------->
      <div class="tab-pane fade show active" id="day" role="tabpanel" aria-labelledby="day-tab">

        <br><br>

        <h5>
          <span><%= Date.today %></span>
        </h5>

        <br>

        <!--1位 e4aa1d---------------------------------------------->
        <% unless @day_ranking.first.nil? %>
        <% day_first = @day_ranking.first.recipe %>
        <div class="box18" style="color:#e4aa1d; margin:2em 2em;">
          <ul class="list-unstyled">
            <li class="media" style="margin:20px 10px;">
              <% if day_first.img? %>
              <%= link_to (image_tag(day_first.img.rank_first_thumb.url :class => "ml-3", :size =>"330x230")), day_first %>
              <% else %>
              <%= link_to (image_tag("no-image.png", :class => "ml-3", :size =>"330x230")), day_first %>
              <% end %>

              <div class="media-body">
                <div class="mt-0 mb-1" style="color:#543f32;">
                  <br>
                  <i class="fas fa-crown" style="color:#e4aa1d; line-height: 1.3em;"><br>1</i>
                  <br><br>
                  <b class="recipe_name"><%=link_to day_first.title, day_first %></b>
                </div>
                <div style="line-height: 1.5em; color:#543f32;">
                  <%= day_first.user.username%>
                  <br><br>
                  <i class="fab fa-gratipay"></i>&ensp;<%= day_first.favorites.count %>
                  &ensp;
                  <i class="fas fa-stopwatch"></i>&ensp;<%= day_first.cook_min%>min
                  <br><br>
                  <%= Date.today %>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <% end %>

        <!--2位 9eaeb9---------------------------------------------->
        <% unless @day_ranking.second.nil? %>
        <div class="card-deck">
          <% day_second = @day_ranking.second.recipe %>
          <div class="box18" style="color:#9eaeb9; margin:3em auto;">
            <br>
            <div><i class="fas fa-crown" style="color:#9eaeb9; line-height: 1.3em;"><br>2</i></div>
            <div class="card" style="width:18rem; border:none; color:#543f32; text-align:center;">
              <% if day_second.img? %>
              <%= link_to (image_tag(day_second.img.rank_thumb.url :class => "ml-3", :size =>"200x150")), day_second %>
              <% else %>
              <%= link_to (image_tag("no-image.png", :class => "ml-3", :size =>"200x150")), day_second %>
              <% end %>
              <br>
              <div class="card-body" style="line-height: 1.3em;">
                <h4>
                  <b class="recipe_name"><%= link_to day_second.title, day_second %></b>
                </h4>
                <p class="card-text"><%= day_second.user.username%></p>
                <br>
                  <i class="fab fa-gratipay"></i>&ensp;<%= day_second.favorites.count %>
                  &ensp;
                  <i class="fas fa-stopwatch"></i>&ensp;<%= day_second.cook_min %>min
                  <br><br>
                  <%= Date.today %>
              </div>
            </div>
          </div>
          <% end %>

          <!--3位 b76901---------------------------------------------->
          <% unless @day_ranking.third.nil? %>
          <% day_third = @day_ranking.third.recipe %>
          <div class="box18" style="color:#b76901; margin:3em auto;">
            <br>
            <i class="fas fa-crown" style="color:#b76901; line-height: 1.3em;"><br>3</i>
            <div class="card" style="width:18rem; border:none; color:#543f32;">
              <% if day_third.img? %>
              <%= link_to (image_tag(day_third.img.rank_thumb.url :class => "ml-3", :size =>"200x150")), day_third %>
              <% else %>
              <%= link_to (image_tag("no-image.png", :class => "ml-3", :size =>"200x150")), day_third %>
              <% end %>
              <br>
              <div class="card-body" style="line-height: 1.3em;">
                  <b class="recipe_name"><%= link_to day_third.title, day_third %></b>
                <p class="card-text"><%= day_third.user.username%></p>
                <br>
                  <i class="fab fa-gratipay"></i>&ensp;<%= day_third.favorites.count %>
                  &ensp;
                  <i class="fas fa-stopwatch"></i>&ensp;<%= day_third.cook_min %>min
                  <br><br>
                  <%= Date.today %>
              </div>
            </div>
          </div>
          <% end %>

        </div>

        <br>
        <hr class="hr-text" data-content="AND">
        <br>

        <!--4-12位---------------------------------------------->
        <% unless @day_ranking[3].nil? %>
        <% under_four_drank_num = 4 %>
        <div class="card-group">
          <% @day_ranking[3..(@day_ranking.size-1)].each do |r| %>
          <div class="ribbon_box2">
            <div class="card" style="width:15rem; height:23rem;">
              <span class="ribbon13">
                <i class="fas fa-crown" style="line-height:1.5rem; "><br><%= under_four_drank_num %></i>
              </span>
              <% if r.recipe.img? %>
              <%= link_to (image_tag(r.recipe.img.underfour_rank_thumb.url :class => "card-img-top", :size =>"200x150")), r.recipe %>
              <% else %>
              <%= link_to (image_tag("no-image.png", :class => "card-img-top", :size =>"200x150")), r.recipe %>
              <% end %>
              <div class="card-body" style="line-height: 1.3em;">
                  <b class="recipe_name" style="font-size:1rem;"><%= link_to r.recipe.title, r.recipe %></b>
                <p class="card-text"><%= r.user.username%></p>
                <br>
                  <i class="fab fa-gratipay"></i>&ensp;<%= r.recipe.favorites.count %>
                  &ensp;
                  <i class="fas fa-stopwatch"></i>&ensp;<%= r.recipe.cook_min %>min
                  <br><br>
                  <%= Date.today %>
              </div>
            </div>
          </div>
          <% under_four_drank_num += 1 %>
          <% end %>
        </div>
        <% end %>
      </div>

      <!--週間---------------------------------------------->
      <div class="tab-pane fade" id="week" role="tabpanel" aria-labelledby="week-tab">

        <br><br>

        <h5><span>
          <%= Date.today-7 %>
          <span class="arrow06">
            <%= Date.today %>
          </span></h5>

          <br>

          <!--1位 e4aa1d---------------------------------------------->
          <% unless @week_ranking.first.nil? %>
          <% week_first = @week_ranking.first.recipe %>
          <div class="box18" style="color:#e4aa1d; margin:2em 2em;">
            <ul class="list-unstyled">
              <li class="media" style="margin:20px 10px;">
                <% if week_first.img? %>
                <%= link_to (image_tag(week_first.img.rank_first_thumb.url :class => "ml-3", :size =>"330x230")), week_first %>
                <% else %>
                <%= link_to (image_tag("no-image.png", :class => "ml-3", :size =>"330x230")), week_first %>
                <% end %>

                <div class="media-body">
                  <br>
                  <div class="mt-0 mb-1" style="color:#543f32;">
                    <i class="fas fa-crown" style="color:#e4aa1d; line-height: 1.3em;"><br>1</i>
                    <br><br>
                    <b class="recipe_name"><%= link_to week_first.title, week_first %></b>
                  </div>
                  <div style="line-height: 1.5em; color:#543f32;">
                    <%= week_first.user.username %>
                    <br><br>
                    <i class="fab fa-gratipay"></i>&ensp;<%= week_first.favorites.count %>
                    &ensp;
                    <i class="fas fa-stopwatch"></i>&ensp;<%= week_first.cook_min %>min
                    <br><br>
                    <%= Date.today %>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <% end %>
          <!--2位 9eaeb9---------------------------------------------->
          <% unless @week_ranking.second.nil? %>
          <div class="card-deck">
            <% week_second = @week_ranking.second.recipe %>
            <div class="box18" style="color:#9eaeb9; margin:3em auto;">
              <br>
              <i class="fas fa-crown" style="color:#9eaeb9; line-height: 1.3em;"><br>2</i>
              <div class="card" style="width:18rem; border:none; color:#543f32;">
                <% if week_second.img? %>
                <%= link_to (image_tag(week_second.img.rank_thumb.url :class => "ml-3", :size =>"200x150")), week_second %>
                <% else %>
                <%= link_to (image_tag("no-image.png", :class => "ml-3", :size =>"200x150")), week_second %>
                <% end %>

                <div class="card-body" style="line-height: 1.3em;">
                    <b class="recipe_name"><%= link_to week_second.title, week_second %></b>
                  <p class="card-text"><%= week_second.user.username %></p>
                  <br>
                    <i class="fab fa-gratipay"></i>&ensp;<%= week_second.favorites.count %>
                    &ensp;
                    <i class="fas fa-stopwatch"></i>&ensp;<%= week_second.cook_min %>min
                    <br><br>
                    <%= Date.today %>
                </div>
              </div>
            </div>
            <% end %>

            <!--3位 b76901---------------------------------------------->
            <% unless @week_ranking.third.nil? %>
            <% week_third = @week_ranking.third.recipe %>
            <div class="box18" style="color:#b76901; margin:3em auto;">
              <br>
              <i class="fas fa-crown" style="color:#b76901; line-height: 1.3em;"><br>3</i>
              <div class="card" style="width:18rem; border:none; color:#543f32;">
                <% if week_third.img? %>
                <%= link_to (image_tag(week_third.img.rank_thumb.url :class => "ml-3", :size =>"200x150")), week_third %>
                <% else %>
                <%= link_to (image_tag("no-image.png", :class => "ml-3", :size =>"200x150")), week_third %>
                <% end %>

                <div class="card-body" style="line-height: 1.3em;">
                    <b class="recipe_name"><%= link_to week_third.title, week_third %></b>
                  <p class="card-text"><%= week_third.user.username %></p>
                  <br>
                    <i class="fab fa-gratipay"></i>&ensp;<%= week_third.favorites.count %>
                    &ensp;
                    <i class="fas fa-stopwatch"></i>&ensp;<%= week_third.cook_min %>min
                    <br><br>
                    <%= Date.today %>
                </div>
              </div>
            </div>
            <% end %>

          </div>

          <br>
          <hr class="hr-text" data-content="AND">
          <br>
          <% unless @week_ranking[3].nil? %>
          <% under_four_wrank_num = 4 %>
          <div class="card-group">
            <% @week_ranking[3..(@week_ranking.size-1)].each do |r| %>
            <div class="ribbon_box2">
              <div class="card" style="width:15rem; height:23rem;">
                <span class="ribbon13">
                  <i class="fas fa-crown" style="line-height:1.5rem;"><br><%= under_four_wrank_num %></i>
                </span>
                <% if r.recipe.img? %>
                <%= link_to (image_tag(r.recipe.img.underfour_rank_thumb.url :class => "card-img-top", :size =>"200x150")), r.recipe %>
                <% else %>
                <%= link_to (image_tag("no-image.png", :class => "card-img-top", :size =>"200x150")), r.recipe %>
                <% end %>

                <div class="card-body" style="line-height:1.3rem;">
                    <b class="recipe_name" style="font-size:1rem;"><%= link_to r.recipe.title, r.recipe %></b>
                  <p class="card-text"><%= r.user.username%></p>
                  <br>
                    <i class="fab fa-gratipay"></i>&ensp;<%= r.recipe.favorites.count %>
                    &ensp;
                    <i class="fas fa-stopwatch"></i>&ensp;<%= r.recipe.cook_min %>min
                    <br><br>
                    <%= Date.today %>
                </div>
              </div>
            </div>
            <% under_four_wrank_num += 1 %>
            <% end %>
          </div>
          <% end %>
        </div>

      </div>

  </div>
</div>
