
@import "bootstrap";
@import "font-awesome";
@import "material_icons";

html {
　font-size: 62.5%; /*ベースを10pxにしています*/
}

// Font Family
$body-font: "Roboto";

// Font Weights
$regular: 400;
$semibold: 500;
$bold: 700;

// Base Font
$base-font-family: $body-font, sans-serif;
$base-font-weight: $regular;

// Colors
$moji: #543f32;
$light-gray: rgba($black, 0.4);
$orange: #f8b862;

// Form Settings
$max-width: 550px;
$max-height: 400px;
$gutters: 24px;


@include media-breakpoint-only(xl) {
  .top_bar{
    display: none;
  }
}

@include media-breakpoint-between(xs, lg) {
  .side-menu {
    display: none;
  }
}

.navbar{
  background: $moji;
}

a { color:$moji;}
a:hover { text-decoration:none; }

.top_bar {
  position: fixed; /* 画面に固定して追従させます */
  width: 100%;
	z-index:999; /* 他の要素より前に出します */
}

.side-menu {
  position: fixed; /* 画面に固定して追従させます */
  left:130px;
	z-index:999; /* 他の要素より前に出します */
}

//////////////////////////////////////

.logo{
  margin-top:70px;
  margin-bottom:40px;
  text-align:center;
}

body {
  font-size: 0.7rem;
  color: $moji;
  font-family: $base-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width:100%;
  height:100%;
}

.col{
  margin: 0 auto;
}


.notice {
    display: inline-block;
    position: relative;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    text-align: center;
    padding: 7px 0;
    font-size: 0.7rem;
    background: $orange;
    color: $moji;
    box-sizing: border-box;
}

.notice p {
    vertical-align: middle;
    margin: 0;
    padding: 0 70px;
    border-top: dashed 2px rgba(255, 255, 255, 0.8);
    border-bottom: dashed 2px rgba(255, 255, 255, 0.8);
    line-height: 42px;
}

.notice:before, .notice:after{
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  z-index: 1;
}

.notice:before{/*左の山形*/
  top: 0;
  left: 0;
  border-width: 30px 0px 30px 15px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
}

.notice:after{/*右の山形*/
  top: 0;
  right: 0;
  border-width: 30px 15px 30px 0px;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
}


ul{padding:0;margin:0;}
li{list-style-type:none;}
input[type='radio']{display:none;}
label{cursor:pointer}::-webkit-scrollbar {display: none;}

.swanky{
  &_wrapper{
    width:250px;
    height:1000px;
    overflow:hidden;
    background:#543f32;
　　float:right;
    label{
      padding:25px;
      float:left;
      height:72px;
      border-bottom:1px solid #f8b862;
      position:relative;
      width:100%;
      color:white;
      text-indent:10px;
      transition:text-indent .45s, height .3s;
      box-sizing:border-box;
      font-size:0.7rem;
      &:hover{
        background:#f8b862;
        color:#543f32;
        border-bottom:1px solid #2A394F;
        text-indent:15px;
      }
      &:hover .bar{
        width:100%;
      }
      a{
        color: white;
        text-decoration: none;
      }
      .bar{
        width: 0px;
        transition:width .25s;
        height: 2px;
        position: absolute;
        display: block;
        background: white;
        bottom: 0;
        left: 0;
      }
      .lil_arrow{
        width:5px;
        height:5px;
        -webkit-transition: transform 0.8s;
        transition: transform 0.8s;
        -webkit-transition-timing-function: cubic-bezier(0.68, -0.75, 0.265, 1.55);
        border-top:2px solid white;
        border-right:2px solid white;
        float:right;
        position:relative;
        top: 6px;
        right: 2px;
        transform:rotate(45deg)
      }
      &:hover .lil_arrow{
        border-top:2px solid #543f32;
        border-right:2px solid #543f32;
      }
    }
    &__content{
      position: absolute;
      display: none;
      overflow: hidden;
      left: 0;
      width: 100%;
      ul{
        height:auto;
      }
      li{
        width:100%;
        opacity:0;
        left:-100%;
        background: #f8b862;
        padding:25px 0px;
        text-align:center;
        position:relative;
        color: #543f32;
        &:hover{
          background:#a22041;
          box-shadow: 10px 0px white  inset;
          transition:box-shadow .31s linear,text-indent .31s linear;
          text-indent:90px;
          color: white;
        }
      }
      .clear{
        clear:both;
      }
    }
  }
}

.checkbox_hidden input{
    display: none;
}

.checkbox_hidden input[type='checkbox']:checked + label .swanky_wrapper__content{
  display: block;
  top: 68px;
  border-bottom: 1px solid #543f32;
  color: #543f32;
}
.checkbox_hidden input[type="checkbox"]:checked + label > .lil_arrow {
  -webkit-transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.75, 0.265, 1.55);
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  border-top: 2px solid #543f32;
  border-right: 2px solid #543f32;
}
.checkbox_hidden input[type='checkbox']:checked + label{
  height: 325px;
  background: #f8b862;
  color: #543f32;
  text-indent:15px;
  transition-property:height;
  transition-duration:.6s; -webkit-transition-timing-function: cubic-bezier(0.68, -0.75, 0.265, 1.55);
}
.checkbox_hidden input[type='checkbox']:checked + label{
  @for $i from 1 through 2{
    li:nth-of-type(#{$i}){
      animation:in .15s .45s + $i/8 forwards;
      -webkit-transition-timing-function: cubic-bezier(0.68, -0.75, 0.265, 1.55);
      -moz-animation:in .15s .45s + $i/8 forwards;
      -moz-transition-timing-function: cubic-bezier(0.68, -0.75, 0.265, 1.55);
    }
    height:240px;
  }
}

@keyframes in{
  from{left:-100%;opacity:0}
  to{left:0;opacity:1}
}



/*--card----------------------*/

.card-header{
  text-align: center;
  color: #543f32;
}

.card-body{
  text-align: center;
}

/*--index----------------------*/
.recipe_name a{
  font-weight: bold;
  color: #543f32;
}

.recipe_name a:hover{
  font-weight: bold;
  color: #a22041;
}

/*--index----------------------*/

.badge.badge-secondary{
  background-color:red;
}

.alert.alert-danger{
  text-align:center;
  color: #543f32;
  font-size: 0.7rem;
  font-weight: bold;
}

.alert.alert-warning{
  text-align:center;
  color: #543f32;
  font-size: 0.7rem;
  font-weight: bold;
}

.alert.alert-success{
  text-align:center;
  color: #543f32;
  font-size: 0.7rem;
  font-weight: bold;
}


/* search---------------------------*/
i.fas.fa-search {
	font-size: 0.7rem;
	color: #543f32;
	position: relative;
	border-radius: 50%;
	padding: 20px;
	margin: 50px 0 5px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
}
i.fas.fa-search:after {
	width:100%;
	height:100%;
	transform:scale(0.8);
	position:absolute;
	top:-1px;
	left:-2px;
	border-radius:50%;
	transition:all 0.3s ease;
}

i.fas.fa-search {
	background-color: #c1e4e9;
}
i.fas.fa-search:hover {
  background-color:#a22041;
	color:white;
	transform:rotate(90deg);
	cursor:pointer;
	box-shadow:none;
}
i.fas.fa-search:hover:after {
	transform:scale(1);
	box-shadow:10px 0 20px rgba(0, 0, 0, 0.19), 6px 0 6px rgba(0, 0, 0, 0.23);
}


/* log out---------------------------*/
i.fas.fa-sign-out-alt {
	font-size: 0.7rem;
	color: #543f32;
	position: relative;
	border-radius: 50%;
	padding: 20px;
	margin: 0 0 5px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
}
i.fas.fa-sign-out-alt:after {
	width: 100%;
	height: 100%;
	transform: scale(0.8);
	position: absolute;
	top: -1px;
	left: -2px;
	border-radius: 50%;
	transition: all 0.3s ease;
}

i.fas.fa-sign-out-alt {
	background-color: #aacf53;
}
i.fas.fa-sign-out-alt:hover {
  background-color: #a22041;
	color:white;
	transform: rotate(180deg);
	cursor: pointer;
	box-shadow: none;
}
i.fas.fa-sign-out-alt:hover:after {
	transform: scale(1);
	box-shadow: 1px -2px 20px rgba(0, 0, 0, 0.02), 6px 0 6px rgba(0, 0, 0, 0.2);
}


/* log in---------------------------*/
i.fas.fa-sign-in-alt {
	font-size: 0.7rem;
	color: #543f32;
	position: relative;
	border-radius: 50%;
	padding: 20px;
	margin: 0 0 5px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
}
i.fas.fa-sign-in-alt:after {
	width: 100%;
	height: 100%;
	transform: scale(0.8);
	position: absolute;
	top: -1px;
	left: -2px;
	border-radius: 50%;
	transition: all 0.3s ease;
}

i.fas.fa-sign-in-alt {
	background-color: #aacf53;
}
i.fas.fa-sign-in-alt:hover {
  background-color:#a22041;
	color:white;
	transform:rotate(180deg);
	cursor:pointer;
	box-shadow:none;
}
i.fas.fa-sign-in-alt:hover:after {
	transform: scale(1);
	box-shadow: 1px -2px 20px rgba(0, 0, 0, 0.02), 6px 0 6px rgba(0, 0, 0, 0.2);
}


/* sign up---------------------------*/
i.fas.fa-user-plus {
	font-size: 0.7rem;
	color: #543f32;
	position: relative;
	border-radius: 50%;
	padding: 20px;
	margin: 0 0 5px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
}
i.fas.fa-user-plus:after {
	width: 100%;
	height: 100%;
	transform: scale(0.8);
	position: absolute;
	top: -1px;
	left: 2px;
	border-radius: 50%;
	transition: all 0.3s ease;
}

i.fas.fa-user-plus {
	background-color:#df8663;
}
i.fas.fa-user-plus:hover {
  background-color:#a22041;
	color:white;
	transform:scale(-1, 1);
	cursor:pointer;
	box-shadow:none;
}
i.fas.fa-user-plus:hover:after {
	transform: scale(1);
	box-shadow: -3px 8px 20px rgba(0, 0, 0, 0.05), -6px 0 6px rgba(0, 0, 0, 0.2);
	//１:水平方向の影のオフセット距離. 正の値を指定すると右, 負の値を指定すると左へ影が移動.
  //２:垂直方向の影のオフセット距離. 正の値を指定すると下, 負の値を指定すると上へ影が移動.
  //３:ぼかし距離. 負の値は×. 値が大きいほど影の端のぼかしが強くなる. 値が0の場合, 端がくっきりとした影.
  //４:広がり距離. 正の値で影の形状を全方向に拡大、負の値で縮小.
  //insetキーワードを指定:ボックスの外側の影から内側の影に変更.
}

/* prof---------------------------*/
i.fas.fa-user {
	font-size: 0.7rem;
	color: #543f32;
	position: relative;
	border-radius: 50%;
	padding: 20px;
	margin: 50px 0 5px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
}
i.fas.fa-user:after {
	width:100%;
	height:100%;
	transform:scale(0.8);
	position:absolute;
	top:-1px;
	left:-2px;
	border-radius:50%;
	transition:all 0.3s ease;
}

i.fas.fa-user {
	background-color:#f7bd8f;
}
i.fas.fa-user:hover {
  background-color:#a22041;
	color:white;
	transform:scale(-1, 1);
	cursor:pointer;
	box-shadow:none;
}
i.fas.fa-user:hover:after {
	transform:scale(1);
	box-shadow:10px 0 20px rgba(0, 0, 0, 0.19), 6px 0 6px rgba(0, 0, 0, 0.23);
}

/* レシピの投稿---------------------------*/

i.fas.fa-edit{
  font-size: 0.7rem;
	color: #543f32;
	position: relative;
	border-radius: 50%;
	padding: 20px;
	margin: 0 0 5px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
}
i.fas.fa-edit:after {
	width: 100%;
	height: 100%;
	transform: scale(0.8);
	position: absolute;
	top: -1px;
	left: 2px;
	border-radius: 50%;
	transition: all 0.3s ease;
}

i.fas.fa-edit {
	background-color:#df8663;
}
i.fas.fa-edit:hover {
  background-color:#a22041;
	color:white;
	transform:rotate(-90deg);
	cursor:pointer;
	box-shadow:none;
}
i.fas.fa-edit:hover:after {
	transform: scale(1);
	box-shadow: -3px 8px 20px rgba(0, 0, 0, 0.05), -6px 0 6px rgba(0, 0, 0, 0.2);
}


/* コラム数---------------------------*/
.card-columns {
  column-count: 3;
}

/* 見出し---------------------------*/
h3 {
  text-align: center;
}

h3 span{
     position: relative;
     display: inline-block;
     padding-bottom:0.7em;
     border-bottom: 1px solid black;
}

h3 span::before,
h3 span::after {
     position: absolute;
     top: 100%;
     left:50%;
     transform:translateX(-50%);
     content: '';
     border: 10px solid transparent;
}

h3 span::before {
     border-top: 10px solid black;
}

h3 span::after {
     margin-top: -1px;
     border-top: 10px solid white;
}

/* 日付---------------------------*/
.arrow06 {
     position: relative;
     padding-left: 22px;
}
.arrow06::before {
     position: absolute;
     content: '';
     width: 17px;
     height: 17px;
     background: #f8b862;
     border-radius: 50%;
     top: 50%;
     left: 0;
     margin-top: -7px;
}
.arrow06::after {
     position: absolute;
     content: '';
     width: 4px;
     height: 4px;
     background: #f8b862;
     border-top: solid 1px #000;
     border-right: solid 1px #000;
     -webkit-transform: rotate(45deg);
     transform: rotate(45deg);
     top: 50%;
     left: 5px;
     margin-top: -1px;
}


h5 {
     text-align: center;
     font-size: 0.7rem;
}

h5 span{
     position: relative;
     display: inline-block;
     padding: 0 0.7em;
}

h5 span::before, h5 span::after{
     position: absolute;
     top: 50%;
     content: '';
     width: 1.5em;
     height: 1px;
     background-color: black;
}

h5 span::before { left: 100%; }
h5 span::after { right: 100%; }


/* ランキング---------------------------*/

.ribbon_box2 {
    margin: 10px auto;
  }

.ribbon13 {
    display: inline-block;
    position: absolute;
    top: -6px;
    right: 5px;
    margin: 0;
    padding: 5px 0;
    z-index: 99;
    width: 40px;
    text-align: center;
    color: white;
    font-size: 0.7rem;
    //グラデーション
    background: linear-gradient(#f9a81d 0%, #a22041 100%);
    border-radius: 2px 0 0 0;
  }

.ribbon13:before{
    position: absolute;
    content: '';
    top: 0;
    right: -6px;
    border: none;
    border-bottom: solid 6px #cf4a2d;
    border-right: solid 6px transparent;
}
.ribbon13:after{
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    height: 0;
    width: 0;
    border-left: 20px solid #a22041;
    border-right: 20px solid #a22041;
    border-bottom: 10px solid transparent;
}


.box18{
    position: relative;
    padding: 0.25em 1em;
    border: solid 2px;
    border-radius: 3px 0 3px 0;
    text-align:center;
}
.box18:before,.box18:after
{
    content: '';
    position: absolute;
    width:10px;
    height: 10px;
    border: solid 2px;
    border-radius: 50%;
}
.box18:after {
    top:-12px;
    left:-12px;
}
.box18:before {
    bottom:-12px;
    right:-12px;
}
.box18 p {
    margin: 0;
    padding: 0;
}

/* ライン（hr）---------------------------*/

.hr-text {
	line-height: 1em;
	position: relative;
	outline: 0;
	border: 0;
	color: #543f32;
	text-align: center;
	height: 1.5em;
	opacity: .5;
}
.hr-text:before {
	content: '';
	background: -webkit-linear-gradient(left, transparent, #543f32, transparent);
	background: linear-gradient(to right, transparent, #543f32, transparent);
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 1px;
}
.hr-text:after {
	content: attr(data-content);
	position: relative;
	display: inline-block;
	color: #543f32;
	padding: 0 .5em;
	line-height: 1.5em;
	color: #543f32;
	background-color:white;
}


/* メニューday---------------------------*/

.day {
  border-bottom: solid 3px #df7163;
  position: relative;
  font-size:0.7rem;
}

.day:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #460e44;
  bottom: -3px;
  width: 30%;
}


/* 文字縁取り---------------------------*/
.outline {
  display:inline-block;
  color:#ffffff;
  font-size:1.3rem;
  letter-spacing:1px; //文字間
  text-align:center;
  text-shadow:
       2px  2px 2px #543f32,
      -2px  2px 2px #543f32,
       2px -2px 2px #543f32,
      -2px -2px 2px #543f32,
       2px  0px 2px #543f32,
       0px  2px 2px #543f32,
      -2px  0px 2px #543f32,
       0px -2px 2px #543f32; //文字の影
}


/* フォーム---------------------------*/

.form {
  position: relative;
  background: $white;
  width: $max-width;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba($black, .1);
  box-sizing: border-box;
  margin:auto;
  overflow: hidden;

  &-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 30px;

    //ボタン部分
    &:last-child {
      margin: 20px 0;
    }

    label {
      display: block;
      margin: 0 0 10px;
      color: $moji;
      font-size: 0.7rem;
      font-weight: $semibold;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: .2em;
    }

    input {
      outline: none;
      display: block;
      background: rgba($black, 0.1);
      width: 100%;
      border: 0;
      border-radius: 4px;
      box-sizing: border-box;
      padding: 12px 20px;
      color: $moji;
      font-family: inherit;
      font-size: 0.7rem;
      font-weight: $semibold;
      line-height: inherit;
      transition: 0.3s ease;
    }

    .button {
      outline: none;
      background: #aacf53;
      width: 100%;
      border: 0;
      border-radius: 4px;
      color: $moji;
      font-family: inherit;
      font-size: 0.7rem;
      font-weight: $bold;
      line-height: inherit;
      text-transform: uppercase;
      cursor: pointer;
    }

    .button:hover {
      background-color:#a22041;
    	color:white;
    	transform:scale(1);
    	cursor:pointer;
    }

    .button2 {
      outline: none;
      background: #df8663;
      width: 100%;
      border: 0;
      border-radius: 4px;
      color: $moji;
      font-family: inherit;
      font-size: 0.7rem;
      font-weight: $bold;
      line-height: inherit;
      text-transform: uppercase;
      cursor: pointer;
    }

    .button2:hover {
      background-color:#a22041;
    	color:white;
    	transform:scale(1);
    	cursor:pointer;
    }

    .button3 {
      outline: none;
      background: $orange;
      width: 100%;
      border: 0;
      border-radius: 4px;
      color: $moji;
      font-family: inherit;
      font-size: 0.7rem;
      font-weight: $bold;
      line-height: inherit;
      text-transform: uppercase;
      cursor: pointer;
    }

    .button3:hover {
      background-color:#a22041;
    	color:white;
    	transform:scale(1);
    	cursor:pointer;
    }

    .button4 {
      outline: none;
      background: #c1e4e9;
      width: 100%;
      border: 0;
      border-radius: 4px;
      color: $moji;
      font-family: inherit;
      font-size: 0.7rem;
      font-weight: $bold;
      line-height: inherit;
      text-transform: uppercase;
      cursor: pointer;
    }

    .button4:hover {
      background-color:#a22041;
    	color:white;
    	transform:scale(1);
    	cursor:pointer;
    }

    .form-remember {
      font-size: 0.7rem;
      font-weight: $regular;
      letter-spacing: 0;
      text-transform: none;

      input[type='checkbox'] {
        display: inline-block;
        width: auto;
        margin: 0 10px 0 0;
      }
    }

    .form-recovery {
      color: $moji;
      font-size: 0.7rem;
      text-decoration: none;
    }
  }

  &-panel {
    padding: 60px calc(5% + 60px) 60px 60px;
    box-sizing: border-box;

    //メインフォーム部分
    &.one {
      &:before {
        content: '';
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease;
      }
    }

    //新規登録
    &.two {
      z-index: 5;
      position: absolute;
      top: 0;
      left: 95%;
      background: #df8663;
      width: 100%;
      min-height: 100%;
      padding: 60px calc(10% + 60px) 60px 60px;
      transition: 0.3s ease;
      cursor: pointer;

      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 60px;
        left: 1.5%;
        background: rgba(white, 0.4);
        height: 30px;
        width: 2px;
        transition: 0.3s ease;
      }

      &:after {
        left: 3%;
      }

      &:hover {
        content: '新規登録';
        left: 93%;
        box-shadow: 0 0 10px rgba($black, 0.2);

        &:before,
        &:after {
          opacity: 0;
        }
      }
    }

    //ログイン
    &.three {
      z-index: 5;
      position: absolute;
      top: 0;
      right: 95%;
      background: #aacf53;
      width: 100%;
      min-height: 100%;
      padding: 60px calc(10% + 60px) 60px 60px;
      transition: 0.3s ease;
      cursor: pointer;

      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 60px;
        right: 1.5%;
        background: rgba($white, 0.2);
        height: 30px;
        width: 2px;
        transition: 0.3s ease;
      }

      &:after {
        right: 3%;
      }

      &:hover {
        right: 93%;
        box-shadow: 0 0 10px rgba($black, 0.2);

        &:before,
        &:after {
          opacity: 0;
        }
      }
    }

    //パスワード忘れ
    &.four {
      z-index: 5;
      position: absolute;
      top: 0;
      right: 95%;
      background: #aacf53;
      width: 100%;
      min-height: 100%;
      padding: 60px calc(10% + 60px) 60px 60px;
      transition: 0.3s ease;
      cursor: pointer;

      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 60px;
        right: 1.5%;
        background: rgba($white, 0.2);
        height: 30px;
        width: 2px;
        transition: 0.3s ease;
      }

      &:after {
        right: 3%;
      }

      &:hover {
        right: 93%;
        box-shadow: 0 0 10px rgba($black, 0.2);

        &:before,
        &:after {
          opacity: 0;
        }
      }
    }

  }

  // Header
  &-header {
    margin: 0 0 50px;

    h1 {
      padding: 4px 0;
      font-size: 1.3rem;
      font-weight: $bold;
      text-transform: uppercase;
      text-align:center;
    }
  }

  // Content
  &-content {}
}



/* 作り方手順---------------------------*/

table.company {
  width: 600px;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0px 15px;
  font-size: 0.7rem;
}

table.company th,
table.company td {
  padding: 10px;
}


table.company th {
  background: #6f4b3e;
  vertical-align: middle;
  width: 50px;
  overflow: visible;
  position: relative;
  text-align: center;
  font-weight: $bold;
  color: #fff;
  font-size: 1.5rem;
}

table.company th:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #6f4b3e;
  border-width: 10px;
  margin-top: -10px;
}

table.company td {
  width: 550px;
  padding-left: 20px;
  //border-bottom: #f7b977 solid;
}
